# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.coverage
.tox/
.pytest_cache/
venv/
.venv/
build/
dist/
develop-eggs/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
pip-log.txt
pip-delete-this-directory.txt
.ropeproject/
.mr.developer.cfg
.project
.pydevproject
*.mo
*.log
*.pot
.env

# ReactJS / Node.js
node_modules/
build/
dist/
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.parcel-cache/
.vscode/
config/config.yaml